#result{"data-alert" => ""}
  = t '_users_search'
  %a.close{:div => "", :href => "#"} ×
  %hr
  - if @result.length != 0
    - for user in @result
      .img
        = image_tag user.gravatar_url(:rating => 'R', :secure => true, :size => 20, :default => 'mm')
      %strong= link_to user.login, :action => :show, :user => user.login
      %br
      %br
  - else
    = t 'helpers.error.search'

  
