<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Если вы действительно забыли свой пароль, то перейдите по ссылке ниже.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если вы не запрашивали восстановление пароля, то просто проигнорируйте это письмо.</p>
<p>Ваш пароль не изменится, пока вы не перейдете по ссылке.</p>
